[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cornet"]
	path = cornet
	url = https://github.com/rauschenberger/cornet
[submodule "joinet"]
	path = joinet
	url = https://github.com/rauschenberger/joinet
[submodule "palasso"]
	path = palasso
	url = https://github.com/rauschenberger/palasso
[submodule "starnet"]
	path = starnet
	url = https://github.com/rauschenberger/starnet
[submodule "transreg"]
	path = transreg
	url = https://github.com/rauschenberger/transreg
